<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Changer</title>
</head>
<body>

    <style>
        body{
            max-height: 99%;
            max-width: 99%;
            background-color: red;
            overflow: hidden;
            scrollbar-width: none;
        }
        .container{
            height: 99%;
            width: 99%;
            
        }
        .container > p {
            font-size: 18rem;
            color: aliceblue;
            
        }
    </style>
    <div class="container">
        <p> Under Construction</p>
    </div>
</body>
</html>